.app-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 80px;
    min-height: 85vh;
}

.left-container {
    flex: 1;
    max-width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.right-container {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height: fit-content;
    margin-top: 50px;
}

.left-container h1 {
    margin-bottom: 20px;
    color: #f8f8f8;
}

.job-details p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #ddd;
}

span.job-desc {
    font-weight: bold;
    color: #fff;
}

.githublink {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 10px;
    color: #1a1a1a;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 12px;
    transition: all 0.3s ease;
}

.githublink:focus {
    border-color: #1976d2;
    background-color: #fff;
}

.questions {
    margin-top: 24px;
}

.question {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
    font-size: 14px;
}

.question select {
    margin-top: 6px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.doc-box {
    width: 100%;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    border: 2px dashed #aaa;
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    margin-bottom: 20px;
}

.doc-box h2 {
    margin-bottom: 8px;
    font-size: 18px;
}

.file-input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}

.file-info {
    margin-top: 12px;
    background-color: #f8f8f8;
    color: #333;
    padding: 8px;
    border-radius: 6px;
}

.terms {
    margin-top: 16px;
    font-size: 14px;
    color: #ddd;
    text-align: left;
}

.terms-style {
    font-style: italic;
    text-decoration: underline;
    color: #97c3ff;
}

.OA-button {
    margin-top: 18px;
    width: 100%;
    text-align: center;
}

.assessment-button {
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e0ecff;
    color: #1976d2;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}

.assessment-button:hover {
    background-color: #1976d2;
    color: white;
    transform: translateY(-2px);
}
