span.job-desc {
    font-weight: bold;       
    color: inherit;         
    font-style: normal;      
}

.githublink {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    border-radius: 25px;
    color: black;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
    outline: none;
}
  
.githublink:focus {
    border-color:  black;
    background-color: #ffffff;
}