.app-container{
    display: flex;
    flex-direction: column;
}

.job-details{
    margin-top: 100px;
}

span.job-desc {
    position: sticky;
    top: 0px;
    font-weight: bold;       
    color: inherit;         
    font-style: normal;      
}

.githublink {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    border-radius: 25px;
    color: black;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    transition: all 0.3s ease;
    outline: none;
}
  
.githublink:focus {
    border-color:  black;
    background-color: #ffffff;
}


.assessment-button {
    margin-top: 20px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    transition: var(--transition);
}

.assessment-button:hover{
    background-color: var(--primary-light);
    border-color: transparent;
    transition: var(--transition);
    transform: translateY(-2px);
}
