.main {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}
  
.formBox {
  background: #151414;
  padding: 20px;
  width: 700px;
  font-size: 20px;
}

.formTitle {
  text-align: center;
  font-size: 35px;
  margin-bottom: 25px;
}

.inputBox {
  width: 100%;
  padding: 10px;
  width: 97%;
  margin-top: 15px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background: #232323;
  color: white;
  height: 35px;
  font-size: 20px;
}

.interestsBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 15px;
}

.checkboxBody {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  font-size: 20px;
}

.signupButton {
  bottom: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 20px;
}