.topBar{
    width: 100%;
    background: #07005C;
    color: white;
    padding: 15px 20px;
    font-size: 30px;
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;

}
.navbar {
    
    background-color: var(--primary);
    color: var(--text-light);
    padding: 16px 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
  }