body {
    font-family: Arial, sans-serif;
    background-color: #0a0a23;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topBar{
    width: 100%;
    background: #07005C;
    color: white;
    padding: 15px 20px;
    font-size: 30px;
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;

}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--navbar-bg);
  color: var(--text-light);
  font-size: 20px;
  text-align: left;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}


  .navbar-container {
    width: 100%;
    background-color: var(--navbar-bg);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 100 auto;
    padding: 0 20px;
  }